openapi: 3.0.1
info:
  title: Migration Planner API
  version: undefined
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: /
paths:
  /api/v1/sources:
    get:
      tags:
        - source
      description: list sources
      operationId: listSources
      parameters:
        - name: include_default
          in: query
          description: control whatever the default report should be added to the result
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceList'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - source
      description: create a source from inventory file
      operationId: createSource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCreate'
        required: true
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - source
      description: delete a collection of sources
      operationId: deleteSources
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/sources/{id}:
    get:
      tags:
        - source
      description: read the specified source
      operationId: readSource
      parameters:
        - name: id
          in: path
          description: ID of the source
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - source
      description: delete a source
      operationId: deleteSource
      parameters:
        - name: id
          in: path
          description: ID of the source
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/image/{id}/image-url:
    get:
      tags:
        - image
      description: Get the OVA image via URL
      operationId: GetSourceDownloadURL
      parameters:
        - name: id
          in: path
          description: Source id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: URL to download OVA image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/presigned-url'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/image:
    head:
      tags:
        - image
      description: head the OVA image
      operationId: headImage
      parameters:
        - name: sshKey
          in: query
          description: public SSH key
          required: false
          schema:
            type: string
      responses:
        "200":
          description: An OVA image
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: NotFound
        "500":
          description: Internal Server Error
    get:
      tags:
        - image
      description: get the OVA image
      operationId: getImage
      parameters:
        - name: sshKey
          in: query
          description: public SSH key
          required: false
          schema:
            type: string
      responses:
        "200":
          description: An OVA image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/agents:
    get:
      tags:
        - agent
      description: list agents
      operationId: listAgents
      parameters:
        - name: include_default
          in: query
          description: control whatever the default report should be added to the result
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentList"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/agents/{id}:
    delete:
      tags:
        - agent
      description: delete an agent
      operationId: deleteAgent
      parameters:
        - name: id
          in: path
          description: ID of the agent
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/events:
    post:
      tags:
        - ui events
      description: pass events from ui to kafka
      operationId: pushEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
        required: true
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'


  /health:
    get:
      tags:
        - health
      description: health check
      operationId: health
      responses:
        "200":
          description: OK

components:
  schemas:
    presigned-url:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          description: Pre-signed URL for downloading the infra-env discovery image.
        expires_at:
          type: string
          format: date-time
          description: Expiration time for the URL token.
    Source:
      type: object
      properties:
        id:
          type: string
          format: uuid
        inventory:
          $ref: '#/components/schemas/Inventory'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        name:
          type: string
        onPremises:
          type: boolean
        agents:
          type: array
          items:
            $ref: '#/components/schemas/SourceAgentItem'
      required:
        - id
        - createdAt
        - updatedAt
        - onPremises

    SourceCreate:
      type: object
      properties:
        inventory:
          $ref: '#/components/schemas/Inventory'
      required:
        - inventory

    SourceList:
      type: array
      items:
        $ref: '#/components/schemas/Source'
    
    SourceAgentItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        associated:
          type: boolean
      required:
        - id
        - associated

    Error:
      properties:
        message:
          type: string
          description: Error message
      required:
        - message

    Status:
      type: object
      properties:
        message:
          type: string
          description: A human-readable description of the status of this operation.
        reason:
          type: string
          description: A machine-readable description of why this operation is in the "Failure" status. If this value is empty there is no information available. A Reason clarifies an HTTP status code but does not override it.
        status:
          type: string
          description: 'Status of the operation. One of: "Success" or "Failure". More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#spec-and-status'
      description: Status is a return value for calls that don't return other objects.

    Inventory:
      type: object
      required:
      - vcenter
      - vms
      - infra
      properties:
        vcenter:
          type: object
          $ref: '#/components/schemas/VCenter'
        vms:
          type: object
          $ref: '#/components/schemas/VMs'
        infra:
          type: object
          $ref: '#/components/schemas/Infra'

    VCenter:
      type: object
      required:
        - id
      properties:
        id:
          type: string
    VMs:
      type: object
      required:
      - total
      - totalMigratable
      - cpuCores
      - ramGB
      - diskGB
      - diskCount
      - os
      - powerStates
      - notMigratableReasons
      - migrationWarnings
      properties:
        total:
          type: integer
        totalMigratable:
          type: integer
        totalMigratableWithWarnings:
          type: integer
        cpuCores:
          type: object
          $ref: '#/components/schemas/VMResourceBreakdown'
        ramGB:
          type: object
          $ref: '#/components/schemas/VMResourceBreakdown'
        diskGB:
          type: object
          $ref: '#/components/schemas/VMResourceBreakdown'
        diskCount:
          type: object
          $ref: '#/components/schemas/VMResourceBreakdown'
        powerStates:
          type: object
          additionalProperties:
            type: integer
        os:
          type: object
          additionalProperties:
            type: integer
        notMigratableReasons:
          type: object
          $ref: '#/components/schemas/MigrationIssues'
        migrationWarnings:
          type: object
          $ref: '#/components/schemas/MigrationIssues'

    Infra:
      type: object
      required:
      - totalHosts
      - totalClusters
      - hostsPerCluster
      - hostPowerStates
      - networks
      - datastores
      properties:
        totalHosts:
          type: integer
        totalClusters:
          type: integer
        hostsPerCluster:
          type: array
          items:
            type: integer
        hostPowerStates:
          type: object
          additionalProperties:
            type: integer
        networks:
          type: array
          items:
            type: object
            required:
              - type
              - name
            properties:
              type:
                type: string
                enum: [standard, distributed, dvswitch, unsupported]
              name:
                type: string
              vlanId:
                type: string
              dvswitch:
                type: string
        datastores:
          type: array
          items:
            type: object
            required:
              - type
              - totalCapacityGB
              - freeCapacityGB
            properties:
              type:
                type: string
              totalCapacityGB:
                type: integer
              freeCapacityGB:
                type: integer

    VMResourceBreakdown:
      type: object
      required:
      - histogram
      - total
      - totalForMigratable
      - totalForMigratableWithWarnings
      - totalForNotMigratable
      properties:
        total:
          type: integer
        totalForMigratable:
          type: integer
        totalForMigratableWithWarnings:
          type: integer
        totalForNotMigratable:
          type: integer
        histogram:
          type: object
          required:
          - minValue
          - step
          - data
          properties:
            minValue:
              type: integer
            step:
              type: integer
            data:
              type: array
              items:
                type: integer

    MigrationIssues:
      type: array
      items:
        type: object
        required:
        - label
        - assessment
        - count
        properties:
          label:
            type: string
          assessment:
            type: string
          count:
            type: integer

    Agent:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [not-connected, waiting-for-credentials, error, gathering-initial-inventory, up-to-date, source-gone]
        statusInfo:
          type: string
        credentialUrl:
          type: string
        sourceId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        deletedAt:
          type: string
          format: date-time
        associated:
          type: boolean
        version:
          type: string
      required:
        - id
        - status
        - statusInfo
        - credentialUrl
        - createdAt
        - updatedAt
        - associated
        - version

    AgentList:
      type: array
      items:
        $ref: '#/components/schemas/Agent'

    EventData:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
      required:
        - key
        - value

    Event:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventData'
      required:
        - createdAt
        - data
