body {
    background-color: #626262;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 36rem;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    background-color: white;
    margin: auto;
}
