{{- /*
Allocated VCPUs Query Template - Returns sum of vCPUs for powered-on VMs.
Used for CPU overcommitment calculation.

Template Parameters:
  - ClusterFilter: filter by cluster name
  - VmIDList: filter by VM IDs (IN list)
*/ -}}
SELECT COALESCE(SUM("CPUs"), 0)
FROM vinfo
WHERE "Powerstate" = 'poweredOn'
{{- if .ClusterFilter }} AND "Cluster" = '{{.ClusterFilter}}'{{end}}
{{- if .VmIDList }} AND "VM ID" IN {{.VmIDList}}{{end}};
