{{- /*
Cluster Features Query Template - Returns cluster features including DRS settings.
Takes cluster name filter to return features for specific cluster.
*/ -}}
SELECT "DrsEnabled", "DrsDefaultVmBehavior" as drsMode, "StorageDrsEnabled"
FROM vcluster
WHERE "Name" = '{{.ClusterName}}'
  AND "Name" IS NOT NULL AND "Name" != ''
LIMIT 1;