name: Run e2e test

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main, 'release-*']

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      MIGRATION_PLANNER_API_IMAGE: "custom/migration-planner-api"
      MIGRATION_PLANNER_ISO_IMAGE: "custom/migration-planner-iso"
      MIGRATION_PLANNER_IMAGE_PULL_POLICY: "Never"
      PODMAN: "docker"

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Set env variables
        run: |
          export "REGISTRY_IP=$(ip addr show eth0 | grep -oP '(?<=inet\s)\d+\.\d+\.\d+\.\d+')"
          echo "REGISTRY_IP=${REGISTRY_IP}" >> $GITHUB_ENV
          echo "MIGRATION_PLANNER_AGENT_IMAGE=${REGISTRY_IP}:5000/agent" >> $GITHUB_ENV
          echo "INSECURE_REGISTRY=${REGISTRY_IP}:5000" >> $GITHUB_ENV

      - name: Prepare e2e test environment
        run: make deploy-e2e-environment

      - name: Run test
        run: |
          sudo make integration-test PLANNER_IP=${REGISTRY_IP}
          
      - name: Collect logs
        if: always()
        run: |
          oc get deploy -o yaml
          for pod in $(oc get pods -o name); do
            echo "=== Logs for ${pod} ==="
            oc logs ${pod} || echo "Failed to get logs for ${pod}"
            
            # Collect logs for migration-planner container if pod starts with migration-planner but exclude postgres
            if [[ ${pod} == *"migration-planner"* && ${pod} != *"postgres"* ]]; then
              echo "=== Logs for ${pod} migration-planner container ==="
              oc logs ${pod} -c migration-planner || echo "Failed to get logs for migration-planner container in ${pod}"
            fi
            echo "======================="
          done
